<ion-header class="custom-toolbar">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button class="rounded"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="default-title">
        <h2>grid</h2>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h3>Grid possui 12 columns</h3>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="1">Teste ionic 1</ion-col>
      <ion-col size="1">Teste ionic 2</ion-col>
      <ion-col size="1">Teste ionic 3</ion-col>
      <ion-col size="1">Teste ionic 4</ion-col>
      <ion-col size="1">Teste ionic 5</ion-col>
      <ion-col size="1">Teste ionic 6</ion-col>
      <ion-col size="1">Teste ionic 7</ion-col>
      <ion-col size="1">Teste ionic 8</ion-col>
      <ion-col size="1">Teste ionic 9</ion-col>
      <ion-col size="1">Teste ionic 10</ion-col>
      <ion-col size="1">Teste ionic 11</ion-col>
      <ion-col size="1">Teste ionic 12</ion-col>
    </ion-row>  
    <i-row>      
      <ion-col size="2">Teste</ion-col>
      <ion-col size="2">Teste</ion-col>
      <ion-col size="2">Teste</ion-col>
      <ion-col size="2">Teste</ion-col>
      <ion-col size="2">Teste</ion-col>
      <ion-col size="2">Teste</ion-col>
      <ion-col size="2">Teste</ion-col>
      <ion-col size="2">Teste</ion-col>
      <ion-col size="2">Teste</ion-col>
      <ion-col size="2">Teste</ion-col>
      <ion-col size="2">Teste</ion-col>
      <ion-col size="2">Teste</ion-col>
      <ion-col size="2">Teste</ion-col>
      <ion-col size="2">Teste</ion-col>
    </i-row>
  </ion-grid>
</ion-content>
