<app-header></app-header>

<ion-content>
  <div class="center-container">
    <div class="checkbox-wrapper">
      <ion-label class="w50">Default checkbox</ion-label>
      <div class="w50">
        <ion-checkbox></ion-checkbox>
      </div> <!-- w50 -->
    </div> <!-- checkbox-wrapper -->
    <div class="checkbox-wrapper">
      <ion-label class="w50">Disabled checkbox</ion-label>
      <div class="w50">
        <ion-checkbox disabled="true"></ion-checkbox>
      </div> <!-- w50 -->
    </div> <!-- checkbox-wrapper -->
    <div class="checkbox-wrapper">
      <ion-label class="w50">Checked checkbox</ion-label>
      <div class="w50">
        <ion-checkbox checked=true>Checked Checkbox</ion-checkbox>
      </div> <!-- w50 -->
    </div> <!-- checkbox-wrapper -->
    <div class="checkbox-wrapper">
      <ion-label class="w50">Primary checkbox</ion-label>
      <div class="w50">
        <ion-checkbox color="primary"></ion-checkbox>
      </div> <!-- w50 -->
    </div> <!-- checkbox-wrapper -->
    <div class="checkbox-wrapper">
      <ion-label class="w50">Secondary checkbox</ion-label>
      <div class="w50">
        <ion-checkbox color="secondary"></ion-checkbox>
      </div> <!-- w50 -->
    </div> <!-- checkbox-wrapper -->
    <div class="checkbox-wrapper">
      <ion-label class="w50">Danger checkbox</ion-label>
      <div class="w50">
        <ion-checkbox color="danger"></ion-checkbox>
      </div> <!-- w50 -->
    </div> <!-- checkbox-wrapper -->
    <div class="checkbox-wrapper">
      <ion-label class="w50">Light checkbox</ion-label>
      <div class="w50">
        <ion-checkbox color="light"></ion-checkbox>
      </div> <!-- w50 -->
    </div> <!-- checkbox-wrapper -->
    <div class="checkbox-wrapper">
      <ion-label class="w50">Dark checkbox</ion-label>
      <div class="w50">
        <ion-checkbox color="dark"></ion-checkbox>
      </div> <!-- w50 -->
    </div> <!-- checkbox-wrapper -->    

    <h3>Meses</h3>
    <ion-list>
      <ion-item *ngFor="let mes of meses">
        <ion-label>{{mes.nomeMes}}</ion-label>
        <ion-checkbox [checked]="mes.marcado" [(ngModel)]="mes.marcado" color="success"></ion-checkbox>
      </ion-item>
    </ion-list>
    <ion-button (click)="exibirMeses()" expand="block">
      Exibir meses no log
    </ion-button>

  </div> <!-- center-container -->
</ion-content>
