<ion-header class="custom-toolbar">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button class="rounded"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="default-title">
        <h2>Secondary navigation</h2>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="center-container">
    <ion-button class="main-btn" (click)="showPageNavigation()" expand="block" fill="clear" shape="round">
      To primary navigation
    </ion-button>
  </div>  
</ion-content>