<app-header></app-header>

<ion-content>
  <div class="center-container">
    <ion-item>
      <ion-label>Notificações</ion-label>
      <ion-badge color="primary">410</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Lidos</ion-label>
      <ion-badge color="warning">100</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Excluídos</ion-label>
      <ion-badge color="danger">990</ion-badge>
    </ion-item>
    <ion-item>
      <ion-label>Dinamicamente</ion-label>
      <ion-badge color="success">{{notification}}</ion-badge>
    </ion-item>
  </div>
</ion-content>
