<ion-header class="custom-toolbar">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button class="rounded"></ion-menu-button>
    </ion-buttons>
    <ion-title>Content</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScrollStart)="logScrollStart()" (ionScrollEnd)="logScrollEnd()">
  <div class="fixed-title" slot="fixed" style="text-align: center;">
    <h2>Meu titulo</h2>
  </div>

  <div class="dinamic-list">
    <ion-list>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
    </ion-list>
  </div> <!-- dinamic-list -->
</ion-content>
