<app-header></app-header>

<ion-content
  [scrollEvents]="true"
  (ionScrollStart)="logScrollStart()"
  (ionScrollEnd)="logScrollEnd()">

  <div class="fixed-title" slot="fixed" style="text-align: center;">
    <h2>Meu titulo</h2>
  </div>

  <div class="dinamic-list">
    <ion-list>
      <ion-item>
        <ion-label>asdasdasdsaasdas</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>12432423432423423</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Teste Ionic 5</ion-label>
      </ion-item>
    </ion-list>
  </div> <!-- dinamic-list -->
</ion-content>
