<ion-header class="custom-toolbar">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button class="rounded"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="default-title">
        <h2>Infinite Scroll</h2>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item *ngFor="let numero of numeros | slice:0:limit">
      <ion-label color="dark">{{numero}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll threshold="25%" position="bottom" (ionInfinite)="showInfiniteScroll($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Carregando mais itens...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
</ion-content>
