<app-header></app-header>

<ion-content>
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
      <img src="../../../assets/img/bg.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../../assets/img/bg.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../../assets/img/bg.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../../assets/img/bg.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../../assets/img/bg.jpg" alt="">
    </ion-slide>
    <ion-slide>
      <img src="../../../assets/img/bg.jpg" alt="">
    </ion-slide>
  </ion-slides>
</ion-content>
