.center-container{
    flex-direction: column;
    align-items: center;
}

ion-button {
    width : 50%;
}

ion-title {
    padding: 0 80px;
    letter-spacing: 1px;
}

.default-title h2{
    font-size: 14px;
}