<ion-header class="custom-toolbar">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button class="rounded"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div class="default-title">
        <h2>Alert</h2>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="center-container">
    <ion-button expand="block" color="secondary" shape="round" (click)="presentAlert()">
      Simple Alert
    </ion-button>
    <ion-button expand="block" color="secondary" shape="round" (click)="multipleAlert()">
      Multiple button alert
    </ion-button>
    <ion-button expand="block" color="secondary" shape="round" (click)="confirm()">
      Confirm Alert
    </ion-button>
    <ion-button expand="block" color="secondary" shape="round" (click)="prompt()">
      Prompt Alert
    </ion-button>
  </div>
</ion-content>
