<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-container">
    <ion-card>
      <ion-img src="../assets/img/bg.jpg"></ion-img>
      <ion-card-content>
        <h2>Texto do Card</h2>
        <p>Exemplo de teste do card</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Vagas de emprego</ion-card-subtitle>
        <ion-card-title>Desenvolvedor Ionic 5</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Precisamos de desenvolvedores em Ionic 5
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-list>
        <ion-item class="io-item activated" href="#/newpage">
          <ion-icon slot="start" name="warning"></ion-icon>
          <ion-label>Atenção</ion-label>
        </ion-item>
        <ion-item class="io-item" href="#/newpage">
          <ion-icon slot="start" name="walk"></ion-icon>
          <ion-label>Pessoa</ion-label>
        </ion-item>
        <ion-item class="io-item" href="#/newpage">
          <ion-icon slot="start" name="trash"></ion-icon>
          <ion-label>Apagados</ion-label>
        </ion-item>        
      </ion-list>
    </ion-card>
  </div>
</ion-content>
